@import '../mixins/modal-dark-bg.scss';

//Generic Bulma overrides

$primary: rgb(200, 120, 50);
$link: $primary;

$color: rgba(230, 230, 230, 1);
$text: $color;
$text-strong: lighten($text, 50%);

$title-color: $color;
$subtitle-color: darken($color, 15%);

$info: $link;
$link-hover: $text;
$link-active: $primary;
$link-focus: darken($text, 2.5%);

$white: black;
$black: white;

$background: rgb(43, 43, 43);
$body-background-color: rgb(43, 43, 43);
$light: darken($background, 2.5%);

.delete
{
    background-color: $primary;
}

//Bulma Element Overrides

//Box
$box-background-color: $light;
$box-shadow: 0 2px 3px rgba($text, 0.1), 0 0 0 1px rgba($text, 0.1);

//Generic Inputs
$input-background-color: $light;
$input-color: $text;
$input-border-color: $subtitle-color;
$input-hover-border-color: $text;
$label-color: $subtitle-color;

//Button
$button-background-color: $light;
$button-color: $text;

//Menu
$menu-label-color: $text;
$menu-item-hover-color: lighten($text, 50%);

//Modal
$modal-background-background-color: darken(transparentize($background, 0.2), 20%);

//Modix Component Overrides

//A little ugly, but makes role colors readable
.toRole
{
    background: $color !important;
}

select[multiple]
{
    background: white !important;
}

.option:hover
{
    color: white;
}

//Promotions
.campaign.expanded
{
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.33);
}

.own
{
    background: darken($primary, 33%) !important;
}

//THIS SHOULD BE THE LAST LINE OF THE FILE
@import "../required";