@page "/commands"

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <PageTitle>Commands</PageTitle>

            <h1>Commands</h1>

            <p role="status">Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
