@page "/"
@using MudBlazor

<PageTitle>Modix - Home</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h6" Class="mb-6">
        Modix (stylized MODiX) is a general purpose Discord bot written for use on the
        <MudLink Typo="Typo.h6" Href="http://aka.ms/csharp-discord">C# Discord Server</MudLink>
        by
        <MudLink Typo="Typo.h6" Href="https://github.com/discord-csharp/MODiX/graphs/contributors">developers like you</MudLink>.
        It includes administrative features, a C# compiler / eval module, documentation search, and more.
    </MudText>

    <MudText Typo="Typo.h6" Class="mb-6">
        Modix is constantly in development - if you'd like to contribute, stop by the server,
        and check out our <a href="https://github.com/discord-csharp/MODiX">GitHub repo</a>!
    </MudText>

    <div class="d-flex">
        <MudSpacer />

        <MudLink Href="http://aka.ms/csharp-discord" >
            <MudImage Src="https://discord.com/api/guilds/143867839282020352/widget.png?style=banner1" />
        </MudLink>

        <MudSpacer />
    </div>
</MudContainer>
