.batchDeleteContext
{
    .sentTime
    {
        color: grey;
        font-size: 0.75em;
        display: inline-block;

        min-width: 45px;
        max-width: 45px;

        font-family: monospace;
    }

    .front
    {
        white-space: nowrap;
    }

    .startDate
    {
        text-align: center;
        margin-bottom: 0.75em;
    }

    .username
    {
        font-weight: bold;
    }

    .deletedMessage
    {
        .content
        {
            margin-left: 0.5em;
            word-break: break-word;

            .noContent
            {
                color: grey;
            }
        }

        &.deleted
        {
            padding: 0.25em 1.25em 0.25em 1.25em;
            margin: 0 -1.25em 0 -1.25em;

            background-color: $light;
            color: $black;

            & + .deleted
            {
                border-top: 1px solid $white;
            }
        }
    }
}