.command
{
    background: $light;
    padding: 0.5em 1em;

    .commandName
    {
        display: inline-block;
        font-family: "Consolas", monospace;
        font-size: 1.15em;
        margin-right: 1em;
        font-weight: bold;
    }

    .overload
    {
        color: $subtitle-color;
    }
}

.spacer
{
    margin-bottom: 1em;
    color: $subtitle-color;
}

.summary
{
    display: inline-block;
    margin-right: 1em;
}