.configuration
{
    .tabs
    {
        a
        {
            margin-bottom: 0;
        }

        ul
        {
            border-bottom: 0;
        }

        li
        {
            margin-top: 0;
        }
    }
}