@import "~vue-good-table/dist/vue-good-table.css";

.vgt-table.bordered
{
    font-size: 14px;

    select
    {
        font-size: 12px;
    }

    th
    {
        text-align: center;
        padding: 0.33em;
    }
}

.vgt-wrap
{
    width: 100%;
}

.vgt-input, .vgt-select
{
    padding: 0px 4px;
    height: 28px;
}

@include mobile()
{
    .vgt-table.bordered
    {
        font-size: initial;

        select
        {
            font-size: initial;
        }
    }
}

.channel
{
    font-weight: bold;
}

.pre
{
    white-space: pre-line;
}

.typeCell
{
    display: block;
    white-space: nowrap;
}