.guildDropdown
{
    cursor: pointer;

    border-left: 1px solid transparentize($white, 0.75);

    margin: 5px 5px 0 5px;
    padding-left: 0.66em;

    display: inline-block;
}

.icon
{
    vertical-align: middle;
    margin-right: 0.5em;
}

.profile
{
    justify-self: flex-end;
    color: white;

    padding: 0px 6px 0px 12px;

    .title:not(:last-child)
    {
        margin-bottom: 0;
    }
}

.options .option
{
    color: $black;
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: block;
    cursor: pointer;

    &:hover
    {
        background: $link;
        color: white;

        cursor: pointer;
    }

    &.theme
    {
        text-transform: capitalize;
    }

    &.divider
    {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px solid lightgray;
    }
}

.title.is-4, .title.is-4 a
{
    word-break: normal;
    color: white;
}

img.avatar-icon, img.dropdown-icon
{
    margin-right: 0.5em;

    border-radius: 4px;

    height: 32px;
    max-height: 32px;
}

.username
{
    margin-right: 0.2em;
    cursor: pointer;

    small
    {
        font-size: 0.6em;
        position: relative;
        top: -3px;
    }

    @include tiny()
    {
        display: none;
    }
}