.navbar-brand
{
    justify-content: space-between;
}

.brand-start
{
    display: flex;
}

.brand-end
{
    display: flex;
}

.small-logo
{
    filter: invert(100%);
}

nav
{
    box-shadow: 0px 2px 8px -4px $background;
    user-select: none;
}

.navbar-menu
{
    @include touch()
    {
        padding: 0;
    }
}

.navbar-burger
{
    color: white;

    &:hover
    {
        color: white;
    }
}

.navbar-brand
{
    a:not(.link)
    {
        margin: 0;
        padding: 0;
    }

    img
    {
        height: 52px;
        max-height: 52px;
    }
}

.navbar-item
{
    display: flex;
    align-items: center;

    background-color: $primary;

    color: white;

    &.is-active
    {
        color: $text !important;
        background-color: $body-background-color !important;

        font-weight: bold;
        pointer-events: none;
        box-shadow: 0px 6px 0px 0px $body-background-color;
    }

    &:hover
    {
        color: white;
        background-color: darken($primary, 3);
    }
}