.commentBox
{
    flex-basis: 100%;
}

.campaign .columns.is-gapless:not(:last-child)
{
    margin-bottom: 0;

    @include mobile()
    {
        margin-bottom: 0.5em;
    }
}

.displayName
{
    position: relative;
    left: 8px;

    @include mobile()
    {
        left: 16px;
        top: -12px;
    }
}

.ratings
{
    padding: 0.85rem 0.75rem 0em 0.75em;

    .rating
    {
        padding: 0 1em 0.5em 1em;
        white-space: nowrap;
    }

    .columns
    {
        margin-bottom: 0;
    }

    @include mobile()
    {
        margin-top: 0.5em;
    }
}

.campaign
{
    position: relative;
    padding: 1.35em 1.2em 1.2em 1.2em;

    max-height: 70px;
    overflow: hidden;

    transition: box-shadow 0.33s cubic-bezier(0.23, 1, 0.32, 1);

    & > .columns
    {
        cursor: pointer;
    }

    &.expanded
    {
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.33);
        max-height: none;

        //overflow-y: auto;

        & .comment
        {
            transform: rotateZ(0deg);
            opacity: 1;
        }
    }

    &.inactive
    {
        background-color: $light;
    }

    .commentNotification
    {
        text-align: center;
        font-weight: bold;

        margin: 1em 0 0.5em 0;
    }

    .date, .role
    {
        font-size: 14px;

        font-weight: normal;
        color: grey;

        margin-bottom: -10px;
    }

    .toRole
    {
        font-size: 14px;
        font-weight: 400 !important;
        padding: 4px 8px;

        border: 2px solid black;
        border-radius: 3px;

        position: relative;
        top: -2px;
        left: 20px;

        @include mobile()
        {
            display: table;

            margin-left: 2em;
            margin-top: -0.6em;
        }
    }

    @include mobile()
    {
        padding: 1em;
    }
}

.level.is-mobile .level-item:last-child
{
    margin-right: 0;
}

.statusIcon
{
    display: inline-block;
    width: 1.3em;
}

.commentList
{
    margin-top: 0.5em;
}

.adminButtons
{
    margin-top: 0.1em;
}

.mobile-expander
{
    display: block;
    float: right;
    margin-right: 0.5em;

    @include tablet()
    {
        display: none;
    }
}
