$transition: all 0.33s cubic-bezier(0.23, 1, 0.32, 1);

.commentBox
{
    flex-basis: 100%;
}

.campaign .columns.is-gapless:not(:last-child)
{
    margin-bottom: 0;

    @include mobile()
    {
        margin-bottom: 0.5em;
    }
}

.displayName
{
    position: relative;
    left: 8px;
}

.ratings
{
    padding: 0.5rem 0.75rem 0em 0.75em;

    .rating
    {
        padding: 0 1em 0.5em 1em;
        white-space: nowrap;
    }

    .columns
    {
        margin-bottom: 0;
    }

    @include mobile()
    {
        margin-top: 0em;
        margin-right: 0.5em;
    }
}

.toRole
{
    font-size: 14px;
    font-weight: 400 !important;
    padding: 4px 8px;

    border: 2px solid black;
    border-radius: 3px;

    @include mobile()
    {
        display: inline-block;
    }
}

.campaign
{
    position: relative;
    padding: 1.35em 1.2em 0.5em 1.2em;

    overflow: hidden;

    transition: $transition;

    & > .columns
    {
        cursor: pointer;
    }

    &.expanded
    {
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.33);

        & .comment
        {
            transform: rotateZ(0deg);
            opacity: 1;
        }

        .details
        {
            max-height: 9999px;
            overflow: visible;
        }

        @include mobile()
        {
            max-height: 9999px;

            .adminButtons, .ratings
            {
                display: block;
            }
        }
    }

    &.inactive
    {
        background-color: $light;
    }

    .toRole
    {
        position: relative;
        top: -2px;
        left: 20px;
    }

    .commentNotification
    {
        text-align: center;
        font-weight: bold;

        margin: 1em 0 0.5em 0;
    }

    .date, .role
    {
        font-size: 14px;

        font-weight: normal;
        color: grey;

        margin-bottom: -10px;
    }

    .title
    {
        margin-bottom: 0;
    }

    .expander
    {
        top: 0px;
    }

    .nameBar
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: normal;

        .roleColumn
        {
            white-space: nowrap;
        }

        .leftSide
        {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @include mobile()
            {
                flex-basis: 50%;
                flex-grow: 1;
            }
        }

        @include mobile()
        {
            align-items: flex-start;
        }
    }

    .details
    {
        transition: $transition;
        max-height: 0px;
        overflow: hidden;
    }

    .titleBar
    {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    .commentLoader
    {
        display: inline-block;
        width: 32px;
    }

    @include mobile()
    {
        padding: 1.25em 0.5em 0.5em 1em;
        margin: 0;

        .adminButtons, .ratings
        {
            transition: $transition;
            display: none;
        }

        .nameBar
        {
            padding: 12px 12px 0 12px;
        }
    }
}

.level.is-mobile .level-item:last-child
{
    margin-right: 0;
}

.statusIcon
{
    display: inline-block;
    font-size: 1.5em;
    width: 1.3em;
}

.commentList
{
    margin-top: 0.5em;
}

.adminButtons
{
    margin-top: 0.1em;
    margin-left: 0.75em;
}

.mobile-expander
{
    margin-right: 0.5em;
    margin-left: 1.75em;

    @include tablet()
    {
        display: none;
    }
}