$discordText: #dcddde;
$discordUrl: #0096cf;
$discordBackground: #36393f;

$discordCodeBackground: #2f3136;
$discordCodeBorder: rgb(32, 34, 37);
$discordCodeText: rgb(185, 187, 190);

.markdownPreview
{
    color: $discordText;
    background-color: $discordBackground;
    font-size: 16px;

    padding: 1em;

    strong
    {
        color: $discordText;
    }

    a
    {
        color: $discordUrl;
    }

    pre
    {
        font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        color: $discordCodeText;
        padding: 7px;
        background: $discordCodeBackground;
        font-size: 14px;

        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: $discordCodeBorder;

        margin: 0;
    }
}

.tagCreation
{
    textarea
    {
        font-family: Consolas, monospace;
    }
}