.userProfile
{

}

.userInfoSection
{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;

    & > .info
    {
        flex-grow: 1;
        flex-basis: 100%;

        @include mobile()
        {
            width: 100%;
        }
    }

    & > .avatar
    {
        margin-left: 1em;

        padding: 0;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 200px;

        img
        {
            width: 100%;
        }

        @include mobile()
        {
            margin: 0.5em 0 1.5em 0;
            width: 50%;
        }
    }

    @include mobile()
    {
        flex-direction: column-reverse;
        align-items: center;
    }
}