@using Modix.Data.Models.Core;
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>Modix.Web</PageTitle>
<CascadingAuthenticationState>

    <div class="page">
        <main>
            <MudLayout>

                <NavMenu AvatarUrl="@AvatarUrl" Username="@Username"/>

                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    private MudTheme _theme = new()
    {
        Typography = new()
        {
            Default = new()
            {
                LetterSpacing = "0"
            }
        }
    };
}
