.is-active .modal-card
{
    top: 0;
}

.modal-card
{
    top: 100%;

    transition: top 0.66s cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 200ms;
    
    @include tablet()
    {
        width: 95%;
    }
}