$default-easing: cubic-bezier(0.165, 0.84, 0.44, 1);
$default-transition: 1s $default-easing;

$navbar-background-color: $primary;
$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;

#app
{
    opacity: 1;
}

@mixin fullwidth-desktop()
{
    @include widescreen-only
    {
        width: 96vw;

        margin-left: calc(-96vw / 2 + 1152px / 2);
        margin-right: calc(-96vw / 2 + 1152px / 2);
    }

    @include fullhd
    {
        width: 96vw;

        margin-left: calc(-96vw / 2 + 1344px / 2);
        margin-right: calc(-96vw / 2 + 1344px / 2);
    }
}

@mixin tiny()
{
    @media screen and (max-width: 450px)
    {
        @content
    }
}

.is-active .modal-card
{
    top: 0;
}

a.is-disabled
{
    color: $grey;
    cursor: not-allowed;
}

.pointer
{
    cursor: pointer;
}

.modal-card
{
    top: 100%;

    transition: top 0.66s cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 200ms;

    @include tablet()
    {
        width: 95%;
    }

    .modal-card-foot.level
    {
        justify-content: space-between;
    }

    .modal-card-head p.modal-card-title
    {
        margin-bottom: 0;
    }
}

.small-title
{
    color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin: 1em 0;
}

.content ul
{
    margin: 0;
}

.expander
{
    display: inline-block;
    font-size: 12px;

    vertical-align: top;
    position: relative;
    top: 10px;
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.root
{
    opacity: 0;

    &.visible
    {
        animation: fadeIn $default-transition forwards;
        animation-delay: 500ms;
    }
}

.root > .section
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.delete
{
    @include delete();
}

.tabs.is-small > ul
{
    margin: 0;
}