name: Wiki Deployment

on:
  push:
    branches:
      - main
    paths:
      - 'wiki/**'

jobs:
  sync-wiki-files:
    name: Sync Wiki Files

    runs-on: ubuntu-latest

    steps:
      - name: Checkout /wiki
        uses: actions/checkout@master
      - name: Merge to .wiki
        uses: SwiftDocOrg/github-wiki-publish-action@rsync
        with:
          path: wiki
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.WIKI_DEPLOYMENT_ACCESS_TOKEN }}
